<header class="site-header">
    <div class="container header-inner">
        <div class="logo">
            <a href="{{ '/' | relative_url }}">DLY Portfolio</a>
        </div>
        <nav class="main-nav">
            <ul>
                <li><a href="{{ '/' | relative_url }}#hero">Overview</a></li>
                <li><a href="{{ '/' | relative_url }}#about">About Me</a></li>
                <li><a href="{{ '/' | relative_url }}#skills">Skills</a></li>
                <li><a href="{{ '/' | relative_url }}#projects">Projects</a></li>
                <li><a href="{{ '/' | relative_url }}#certs">Certifications</a></li>
                <li><a href="{{ '/' | relative_url }}#documents">Deliverables</a></li>
            </ul>
        </nav>
    </div>
</header>